<p id="notice"><%= notice %></p>

<p>
  <strong>Approver:</strong>
  <%= @approval.approver %>
</p>

<p>
  <strong>Request:</strong>
  <%= @approval.request %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @approval.approved %>
</p>

<%= link_to 'Edit', edit_approval_path(@approval) %> |
<%= link_to 'Back', approvals_path %>
