<%= form_with(model: state_change, local: true) do |form| %>
  <% if state_change.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(state_change.errors.count, "error") %> prohibited this change from being saved:</h2>

      <ul>
      <% state_change.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :agent_id %>
    <%= form.text_field :agent_id %>
  </div>

  <div class="field">
    <%= form.label :request_id %>
    <%= form.text_field :request_id %>
  </div>

  <div class="field">
    <%= form.label :action %>
    <%= form.text_field :action %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
