<%= form_with(model: travel_request, local: true) do |form| %>
  <% if travel_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(travel_request.errors.count, "error") %> prohibited this travel_request from being saved:</h2>

      <ul>
      <% travel_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :creator_id %>
    <%= form.text_field :creator_id %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.text_field :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.text_field :end_date %>
  </div>

  <div class="field">
    <%= form.label :purpose %>
    <%= form.text_field :purpose %>
  </div>

  <div class="field">
    <%= form.label :participation %>
    <%= form.text_field :participation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
