
<%= form_with(model: travel_request_change_set.model, local: true) do |form| %>
<% if travel_request_change_set.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(travel_request_change_set.errors.count, "error") %> prohibited this travel_request from being saved:</h2>

    <ul>
    <% travel_request_change_set.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<grid-container>
  <grid-item columns="lg-3 sm-6">
    <%# # TODO This should really be creating fields like: params[:travel_request][:event_requests]{:id, :recurring_event_id, :start_date, :end_date, :location, :url}
        # wanted to see the validations sbhow up on the screen, but did not want to put any effort into the form %>
    <%= form.fields_for :event_requests do |ff| %>
      <%= ff.hidden_field :id %>
        <input-data-list
            id="travel_request_event_requests_attributes_0_recurring_event_id"
            name="travel_request[event_requests_attributes][0][recurring_event_id]"
            label="Recurring Event"
            value="<%= travel_request_change_set.event_name %>"
            :list="<%= travel_request_change_set.recurring_event_list %>">
          </input-data-list>
        <date-picker label="Event Dates" mode="range"
          id="travel_request_event_requests_attributes_0_event_dates"
          name="travel_request[event_requests_attributes][0][event_dates]"
          :disabled-dates="
            [{
              start: null,
            end: new Date(<%= Date.current.year %>, <%= Date.current.month - 1 %>, <%= Date.current.day %>)
            }]"
          :default-dates="<%=travel_request_change_set.event_dates_js%>"
        ></date-picker>
        <input-text label="Location" type="text" name="travel_request[event_requests_attributes][0][location]"
              id="travel_request_event_requests_attributes_0_location" width="expand" value="<%= travel_request_change_set.model.event_requests[0].location %>">
        </input-text>
    <% end %>
  </grid-item>
  <grid-item columns="lg-3 sm-6">
      <input-select label="Participation" name="travel_request[participation]"
          id="travel_request_participation" width="expand"
          value="<%= travel_request_change_set.purpose %>"
          :options="<%= travel_request_change_set.participation_options %>"></input-select>
      <date-picker label="Travel Dates" mode="range"
        name="travel_request[travel_dates]" id="travel_request_travel_dates"
        :disabled-dates="
          [{
            start: null,
          end: new Date(<%= Date.current.year %>, <%= Date.current.month - 1 %>, <%= Date.current.day %>)
          }]"
        :default-dates="<%=travel_request_change_set.travel_dates_js%>"

      >
      </date-picker>
      <!-- <input-select label="Purpose" id="travel_request_purpose" width="expand"
        name="travel_request[purpose]" value="<%= travel_request_change_set.travel_category %>"
        :options="<%= travel_request_change_set.travel_category_options %>"></input-select> -->
  </grid-item>
  <grid-item columns="lg-6 sm-12">
    <input-text id="notes" name="notes"
      helper="Specify any unique circumstances (request for time off, desire to stay additional nights, etc.)"
      label="Notes to approvers" width="expand" type="textarea"></input-text>
  </grid-item>
  <grid-item columns="lg-3 sm-12 auto">
    <div class="actions">
      <input-button type="submit" variation="solid" block>Apply Changes</input-button>
    </div>
  </grid-item>
</grid-container>
<% end %>
