
<%= form_with(model: request_change_set.model, local: true) do |form| %>
<% if request_change_set.errors.any? %>
  <%=render 'errors', request_change_set: request_change_set %>
<% end %>
<grid-container>
  <grid-item columns="lg-12 sm-12">
    <alert status="info">Please make sure your request complies with <hyperlink href="https://library.princeton.edu/staff/ofa/finance-and-budget/travel" target="_blank">the official Princeton University Library Travel Policy</hyperlink> before submitting this form.</alert>
  </grid-item>
  <grid-item columns="lg-3 sm-6">
    <%# # TODO This should really be creating fields like: params[:travel_request][:event_requests]{:id, :recurring_event_id, :start_date, :end_date, :location, :url}
        # wanted to see the validations sbhow up on the screen, but did not want to put any effort into the form %>
    <%= form.fields_for :event_requests do |ff| %>
      <%= ff.hidden_field :id %>
        <input-autocomplete required
          id="travel_request_event_requests_attributes_0_recurring_event_id"
          name="travel_request[event_requests_attributes][0][recurring_event_id]"
          label="Event Name"
          default-value="<%= request_change_set.event_name %>"
          :items="<%= request_change_set.recurring_event_list %>"
          autocomplete="off"
        ></input-autocomplete>
        <!--
          Travel Request Date Pickers -->
        <travel-request-date-pickers
          :event_disabled_dates="[{
            start: null,
          end: new Date(<%= Date.current.year %>, <%= Date.current.month - 1 %>, <%= Date.current.day %>)
          }]"
          :travel_disabled_dates="[{
            start: null,
          end: new Date(<%= Date.current.year %>, <%= Date.current.month - 1 %>, <%= Date.current.day %>)
          }]"
          :event_dates="<%=request_change_set.event_dates_js%>"
          :travel_dates="<%=request_change_set.travel_dates_js%>"
          :today="new Date(<%= Date.current.year %>, <%= Date.current.month - 1 %>, <%= Date.current.day %>)">
        </travel-request-date-pickers>

    <% end %>
  </grid-item>
  <grid-item columns="lg-3 sm-6">
      <input-text label="Location" type="text" name="travel_request[event_requests_attributes][0][location]" required
              id="travel_request_event_requests_attributes_0_location" width="expand" value="<%= request_change_set.model.event_requests[0].location %>">
        </input-text>
      <input-select label="Participation" name="travel_request[participation]"
          id="travel_request_participation" width="expand"
          value="<%= request_change_set.participation %>"
          :options="<%= request_change_set.participation_options %>" required></input-select>

      <input-text label="Purpose" id="travel_request_purpose" width="expand"
        name="travel_request[purpose]" value="<%= request_change_set.purpose %>"
        helper="Specify the reason this trip is necessary for your job"
        :options="<%= request_change_set.travel_category_options %>" required></input-text>
  </grid-item>
  <grid-item columns="lg-6 sm-12">
    <% if request_change_set.existing_notes.any? %>
      <heading level="h3" size="h5">
        Notes
      </heading>
      <ul class="notes">
          <%= render partial: "shared/request_note", collection:
            request_change_set.existing_notes, as: :note %>
      </ul>
    <% end %>
    <input-text id="travel_request_notes_content" name="travel_request[notes][][content]"
      helper="Additional information that would help the approver understand the details of the trip (request for time off, desire to stay additional nights, etc.)"
      label="Notes to Approvers (optional)" maxlength="9999" width="expand" type="textarea"></input-text>
  </grid-item>
  <grid-item columns="lg-12 sm-12">
    <heading level="h2" size="h3">Anticipated Expenses</heading>
  </grid-item>
</grid-container>
  <!--
    Travel Estimate Form -->
  <travel-estimate-form
    <% unless request_change_set.estimates_json_form == '[]' %>
      :expenses="<%= request_change_set.estimates_json_form %>"
    <% end %>
    :cost_types="<%= request_change_set.estimate_cost_options %>">
  </travel-estimate-form>

<grid-container>
  <grid-item columns="lg-12 sm-12">
  <text-style variation="emphasis">This request will be submitted to: <%= request_change_set.supervisor %></text-style>
  </grid-item>
  <grid-item columns="lg-3 sm-12 auto">
    <div class="actions">
      <input-button type="submit" variation="solid" block>Submit Request</input-button>
    </div>
  </grid-item>
</grid-container>
<% end %>
