<div >

  <%= form_with(model: request_change_set.model, local: true, url: decide_travel_request_path(request_change_set.model), method: :put) do |form| %>
    <grid-container>
      <% if request_change_set.errors.any? %>
        <%=render 'errors', request_change_set: request_change_set %>
      <% end %>


      <grid-item columns="lg-12 sm-12" order="order-lg-1">
            <%= render 'title_card', request: request_change_set %>
      </grid-item>

      <grid-item columns="lg-4 sm-12" order="order-lg-2">
        <card size="full-width">
          <card-content>
            <heading level="h3" size="h5">
              Level of Participation
            </heading>
            <text-style variation="default"
              ><%= request_change_set.participation.blank? ? 'Unknown' :
              request_change_set.participation.humanize %></text-style
            >
            <heading level="h3" size="h5">
              Purpose
            </heading>
            <text-style variation="default"
              ><%= request_change_set.purpose.blank? ? 'Unknown' : request_change_set.purpose
              %></text-style
            >
            <% if current_staff_profile.department_head? && action == "review" %>
              <heading level="h3" size="h5">
                Travel Category
              </heading>
              <input-select label="Travel Category" name="travel_request[travel_category]"
                  id="travel_request_travel_category" width="expand" hide-label
                  value="<%= request_change_set.travel_category %>"
                  :options="<%= request_change_set.travel_category_options %>"></input-select>
            <% end %>
          </card-content>
        </card>
      </grid-item>
      <grid-item columns="lg-4 sm-12" order="order-lg-3">
        <%= render 'others_card', event_attendees: request_change_set.event_attendees%>
      </grid-item>
      <grid-item columns="lg-4 sm-12" order="order-lg-4">
        <%= render 'team_absent_card', absent_staff: request_change_set.absent_staff(supervisor: current_staff_profile) %>
      </grid-item>
      <grid-item columns="lg-4 sm-12" order="order-sm-6 order-lg-5">
        <%= render 'notes_card', request: request_change_set, render_edit: true %>
      </grid-item>
      <grid-item columns="lg-8 sm-12" :offset=true class="travel-estimates" order="order-sm-5 order-lg-6">
        <%= render 'expense_card', estimate_fields_json: request_change_set.estimate_fields_json, estimates_json: request_change_set.estimates_json %>
      </grid-item>

      <grid-item columns="lg-12 sm-12" order="order-sm-7 order-lg-7">
        <card size="full-width">
          <card-content>
            <% if action == "review" %>
              <input-button type="submit" variation="solid" name="approve">Approve</input-button>
              <input-button type="submit" variation="solid" name="deny">Deny</input-button>
              <input-button type="submit" variation="solid" name="change_request">Request Changes</input-button>
            <% else %>
              <input-button type="submit" variation="solid" name="comment">Comment</input-button>
            <% end %>
          </card-content>
        </card>
      </grid-item>

  </grid-container>
<% end %>
</div>
