<div >

  <%= form_with(model: request_change_set.model, local: true, url: decide_travel_request_path(request_change_set.model), method: :put) do |form| %>
    <lux-grid-container>
      <% if request_change_set.errors.any? %>
        <%=render 'errors', request_change_set: request_change_set %>
      <% end %>


      <lux-grid-item order="order-lg-1">
            <%= render 'title_card', request: request_change_set %>
      </lux-grid-item>

      <lux-grid-item order="order-lg-2">
        <lux-card size="full-width">
          <lux-card-content>
            <lux-heading level="h3" size="h5">
              Level of Participation
            </lux-heading>
            <text-style variation="default"
              ><%= request_change_set.participation.blank? ? 'Unknown' :
              request_change_set.participation.humanize %></lux-text-style
            >
            <lux-heading level="h3" size="h5">
              Purpose
            </lux-heading>
            <lux-text-style variation="default"
              ><%= request_change_set.purpose.blank? ? 'Unknown' : request_change_set.purpose
              %></lux-text-style
            >
            <% if current_staff_profile.department_head? && action == "review" %>
              <lux-heading level="h3" size="h5">
                Travel Category
              </lux-heading>
              <lux-input-select label="Travel Category" name="travel_request[travel_category]"
                  id="travel_request_travel_category" width="expand" hide-label
                  value="<%= request_change_set.travel_category %>"
                  :options="<%= request_change_set.travel_category_options %>"></lux-input-select>
            <% end %>
          </lux-card-content>
        </lux-card>
      </lux-grid-item>
      <lux-grid-item order="order-lg-3">
        <%= render 'others_card', event_attendees: request_change_set.event_attendees%>
      </lux-grid-item>
      <lux-grid-item order="order-lg-4">
        <%= render 'team_absent_card', absent_staff: request_change_set.absent_staff(supervisor: current_staff_profile) %>
      </lux-grid-item>
      <lux-grid-item order="order-sm-6 order-lg-5">
        <%= render 'notes_card', request: request_change_set, render_edit: true %>
      </lux-grid-item>
      <lux-grid-item :offset=true class="travel-estimates" order="order-sm-5 order-lg-6">
        <%= render 'expense_card', estimate_fields_json: request_change_set.estimate_fields_json, estimates_json: request_change_set.estimates_json %>
      </lux-grid-item>

      <lux-grid-item order="order-sm-7 order-lg-7">
        <lux-card size="full-width">
          <lux-card-content>
            <% if action == "review" %>
              <lux-input-button type="submit" variation="solid" name="approve">Approve</lux-input-button>
              <lux-input-button type="submit" variation="solid" name="deny">Deny</lux-input-button>
              <lux-input-button type="submit" variation="solid" name="change_request">Request Changes</lux-input-button>
              <lux-input-button type="submit" variation="solid" name="change_event">Change Event Name</lux-input-button>
            <% else %>
              <lux-input-button type="submit" variation="solid" name="comment">Comment</lux-input-button>
            <% end %>
          </lux-card-content>
        </lux-card>
      </lux-grid-item>

  </lux-grid-container>
<% end %>
</div>
