<card size="full-width" class="request-header">
  <card-media
    ><lux-icon-base width="50" height="50" icon-color="rgb(65, 70, 78)"
      ><%= request.travel_category_icon %> /></lux-icon-base
    >
    <tag
      type="tag"
      size="small"
      :tag-items="[
    {name: '<%= request.latest_status %>', color: '<%= request.status_color %>', icon: '<%= request.status_icon %>'}
    ]"
    ></tag>
  </card-media>
  <card-header>
    <heading level="h1" size="h3">
      <span class="event-requestor"
        ><%= request.full_name %></span
      >
      <span class="event-title"><%= request.event_title %></span>
      <span class="event-dates"
        ><%= request.formatted_full_start_date %> to <%=
        request.formatted_full_end_date %></span
      >
    </heading>
  </card-header>
  <card-content>
    <div class="status-<%= request.status_color %>">
      <heading level="h2" size="h3"
        ><text-style variation="default">Trip ID</text-style><%=
        request.id %></heading
      >
    </div>
  </card-content>
</card>
