<p id="notice"><%= notice %></p>

<h1>Travel Requests</h1>

<table>
  <thead>
    <tr>
      <th>Creator</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Status</th>
      <th>Purpose</th>
      <th>Participation</th>
      <th>Travel Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @travel_requests.each do |travel_request| %>
      <tr>
        <td><%= travel_request.creator %>
        <td><%= travel_request.start_date %>
        <td><%= travel_request.end_date %>
        <td><%= travel_request.status %>
        <td><%= travel_request.purpose %>
        <td><%= travel_request.participation %>
        <td><%= travel_request.travel_category %>
        <td><%= link_to 'Show', travel_request %></td>
        <td><%= link_to 'Edit', edit_travel_request_path(travel_request) %></td>
        <td><%= link_to 'Destroy', travel_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Travel Request', new_travel_request_path %>
