<p id="notice"><%= notice %></p>

<h1>Travel Requests</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @travel_requests.each do |travel_request| %>
      <tr>
        <td><%= link_to 'Show', travel_request %></td>
        <td><%= link_to 'Edit', edit_travel_request_path(travel_request) %></td>
        <td><%= link_to 'Destroy', travel_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Travel Request', new_travel_request_path %>
