<%= form_with(model: absence_request_change_set.model, local: true) do |form| %>
  <% if absence_request_change_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(absence_request_change_set.errors.count, "error") %> prohibited this absence_request_change_set from being saved:</h2>

      <ul>
      <% absence_request_change_set.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :creator_id %>
    <%= form.text_field :creator_id %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.text_field :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.text_field :end_date %>
  </div>

  <input-select label="Absence type" name="absence_request[absence_type]" id="absence_request_absence_type" value="<%= absence_request_change_set.absence_type %>" :options="<%= absence_request_change_set.absence_type_options %>"></input-select>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
