<div >

  <%= form_with(model: request_change_set.model, local: true, url: decide_absence_request_path(request_change_set.model), method: :put) do |form| %>
    <grid-container>
      <% if request_change_set.errors.any? %>
        <%=render 'errors', request_change_set: request_change_set%>
      <% end %>


      <grid-item order="order-lg-1">
            <%= render 'title_card', request: request_change_set %>      
      </grid-item>

      <grid-item order="order-lg-2 order-sm-3">
        <%= render 'notes_card', request: request_change_set, render_edit: true %>      
      </grid-item>
      <grid-item order="order-lg-3 order-sm-2">
        <card size="full-width">
          <card-content>
              <lux-text-style variation="strong">Team members absent during this time period</lux-text-style>
              <ul class="staff"><%=  render partial: "shared/absent_staff", collection: request_change_set.absent_staff, as: :staff %></ul>
          </card-content>
        </card>
        <%= render 'balances', balance_title: request_change_set.balance_title, 
                              vacation_balance:  request_change_set.vacation_balance,
                              personal_balance: request_change_set.personal_balance,
                              sick_balance: request_change_set.sick_balance  %>

      </grid-item>

      <grid-item order="order-lg-4 order-sm-4">
        <card size="full-width">
          <card-content>
            <%if action == 'review' %>
              <input-button type="submit" variation="solid" name="approve">Approve</input-button>
              <input-button type="submit" variation="solid" name="deny">Deny</input-button>
            <% else %>
              <input-button type="submit" variation="solid" name="comment">Comment</input-button>
            <% end %>
          </card-content>
        </card>
      </grid-item>

  </grid-container>
<% end %>
</div>
