<div >

  <%= form_with(model: request_change_set.model, local: true, url: decide_absence_request_path(request_change_set.model), method: :put) do |form| %>
    <lux-grid-container>
      <% if request_change_set.errors.any? %>
        <%=render 'errors', request_change_set: request_change_set%>
      <% end %>


      <lux-grid-item columns="lg-12 sm-12" order="order-lg-1">
            <%= render 'title_card', request: request_change_set %>      
      </lux-grid-item>

      <lux-grid-item columns="lg-6 sm-12" order="order-lg-2 order-sm-3">
        <%= render 'notes_card', request: request_change_set, render_edit: true %>      
      </lux-grid-item>
      <lux-grid-item columns="lg-6 sm-12" order="order-lg-3 order-sm-2">
        <lux-card size="full-width">
          <lux-card-content>
              <lux-text-style variation="strong">Team members absent during this time period</lux-text-style>
              <ul class="staff"><%=  render partial: "shared/absent_staff", collection: request_change_set.absent_staff, as: :staff %></ul>
          </lux-card-content>
        </lux-card>
        <%= render 'balances', balance_title: request_change_set.balance_title, 
                              vacation_balance:  request_change_set.vacation_balance,
                              personal_balance: request_change_set.personal_balance,
                              sick_balance: request_change_set.sick_balance  %>

      </lux-grid-item>

      <lux-grid-item columns="lg-12 sm-12" order="order-lg-4 order-sm-4">
        <lux-card size="full-width">
          <lux-card-content>
            <%if action == 'review' %>
              <lux-input-button type="submit" variation="solid" name="approve">Approve</lux-input-button>
              <lux-input-button type="submit" variation="solid" name="deny">Deny</lux-input-button>
            <% else %>
              <lux-input-button type="submit" variation="solid" name="comment">Comment</lux-input-button>
            <% end %>
          </lux-card-content>
        </lux-card>
      </lux-grid-item>

  </lux-grid-container>
<% end %>
</div>
