<card class="title-card" size="full-width">
  <card-media>
      <lux-icon-base
      width="50"
      height="50"
      icon-color="rgb(65, 70, 78)"
    ><<%= request.absence_type_icon %> /></lux-icon-base>
    <tag type="tag" size="small" :tag-items="[
          {name: '<%= request.latest_status %>', color: '<%= request.status_color %>', icon: '<%= request.status_icon %>'}
          ]"></tag>
  </card-media>
  <card-header>
      <heading level="h1" size="h3">
        <span class="event-requestor"
          ><%= request.full_name %></span
        >
        <span class="event-title"><%= request.event_title %></span>
      </heading>
    </card-header>
    <card-content>
        <div class="status-<%= request.status_color %>">
          <heading level="h2" size="h3"
            ><text-style variation="default">Total Hours</text-style><span class="total-hours-status"><%= request.hours_requested %></span>
          </heading>
        </div>
      </card-content>
</card>
