<p id="notice"><%= notice %></p>

<h1>My Requests</h1>
<wrapper>
  <%= form_tag(my_requests_path, method: :get) do %>
    <%= text_field_tag "query", placeholder: "Search..."%>
    <%= submit_tag 'Search' %>
  <% end %>
  <dropdown-menu type="links" id="status-menu" button-label="<%= @requests.current_status_filter_label %>" :menu-items="[
    <% @requests.status_filter_urls.each do |key, url| %>
       {name: '<%= key %>', component: '<%= key %>', href: '<%= url %>'},
    <% end %>
  ]"></dropdown-menu>

  <dropdown-menu type="links" id="request-type-menu" button-label="<%= @requests.current_request_type_filter_label %>" :menu-items="[
    {name: 'Absence', component: 'Absence', href: '<%= @requests.absence_filter_url %>'},
    <% @requests.absence_filter_urls.each do |key, url| %>
       {name: '<%= key %>', component: '<%= key %>', href: '<%= url %>'},
    <% end %>
    {name: 'Travel', component: 'Travel', href: '<%= @requests.travel_filter_url %>'},
    <% @requests.travel_filter_urls.each do |key, url| %>
       {name: '<%= key %>', component: '<%= key %>', href: '<%= url %>'},
    <% end %>
  ]"></dropdown-menu>

  <dropdown-menu type="links" id="sort-menu" button-label="<%= @requests.current_sort_label %>" :menu-items="[
    <% @requests.sort_urls.each do |key, url| %>
       {name: '<%= key %>', component: '<%= key %>', href: '<%= url %>'},
    <% end %>
  ]"></dropdown-menu>
</wrapper>

<wrapper>
  <% @requests.filter_removal_urls.each do |key, url| %>
    <%= link_to key,url %>
  <% end %>
</wrapper>

<% @requests.each do |request| %>
  <%= if request.request_type == 'TravelRequest'
        render 'travel_requests/index_detail', travel_request: request
      else
        render 'absence_requests/index_detail', absence_request: request
      end %>
<% end %>
