<h1>The following request was submitted by <%= @request.creator %> on <%= @request.formatted_created_at %>.  <%= @request.latest_state_change_title %></h1>
<p>To view the request go to <a href="<%= @request.show_path %>">here</a></p>
<%= render "mailer/review_details" %>