<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>Travel Requests</title>
    <script src="/no_flash.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render 'application/favicon' %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
  </head>

  <body class="lux">
    <lux-library-header app-name="Travel Requests" abbr-name="LTR" app-url="<%= HomeURL.for(current_user: current_user) %>" :max-width=1440 theme="dark">
      <lux-menu-bar type="main-menu" :menu-items="[
          <% if current_user %>
            {name: 'Requests', component: 'My Requests', children: [
              {name: 'New Travel Request', component: 'New Travel Request', href: '/travel_requests/new/'},
              <% if Rails.configuration.show_absence_button %>
              {name: 'New Absence Request', component: 'New Absence Request', href: '/absence_requests/new/'},
              <% end %>
              {name: 'My Requests', component: 'My Requests', href: '/my_requests/'},
              {name: 'Reports', component: 'Reports', href: '/reports/'},
            ]},
            <%= "{name: 'Requests to Review', component: 'Requests to Review', href: '/my_approval_requests/'}," if current_staff_profile.supervisor? %>
            {name: '<%= current_user %>', component: 'My Requests', children: [
              <% unless current_delegate %>
              {name: 'My Delegates', component: 'My Delegates', href: '/delegates/'},
              {name: 'My Delegations', component: 'Delegations', href: '<%= to_assume_delegates_path %>'},
            <% end %>
              {name: 'Help', component: 'Help', href: '/help'},
              {name: 'Logout', component: 'Logout', href: '/sign_out'},
            ]},
            
          <% end %>
        ]"></lux-menu-bar>
    </lux-library-header>
    <% if current_delegate %>
      <div>
        <lux-alert status="info" class="current-delegate">
          <lux-icon-base
            width="24"
            height="24"
            icon-color="rgb(65, 70, 78)"
          ><lux-icon-person></lux-icon-person></lux-icon-base> You are acting on behalf of <%= current_delegate.delegator %>. 
          <lux-hyperlink href="<%= cancel_delegates_path %>" variation="button outline" id="cancel_delegation"><lux-icon-base width="16" height="16" icon-name="Remove Delegate">
            <lux-icon-denied></lux-icon-denied>
          </lux-icon-base> Stop acting on 
          <%= current_delegate.delegator.given_name%>'s behalf.</lux-hyperlink>
          <p>Please use this feature with care as it allows you to act on someone's behalf.</p>
        </lux-alert>
      </div>
    <% end %>
    <div class="main-content">
      <div>
        <lux-wrapper :max-width=1400>
          <%= render 'shared/flash_messages' %>
        </lux-wrapper>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
