<!DOCTYPE html>
<html>
  <head>
    <title>Leave and Travel Requests</title>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <library-header app-name="Leave and Travel Requests" app-url="<%= HomeURL.for(current_user: current_user) %>" class="lux">
    <menu-bar type="links" :menu-items="[
        {name: 'My Requests', component: 'My Requests', href: '/my_requests/'},
      ]"/>
    </library-header>
    <div class="main-content">
      <div class="lux">
        <%= render 'shared/flash_messages' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
