<!DOCTYPE html>
<html>
  <head>
    <title>Leave and Travel Requests</title>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <library-header app-name="Leave and Travel Requests" app-url="<%= HomeURL.for(current_user: current_user) %>" class="lux" :max-width=1440 theme="dark">
    <menu-bar type="links" :menu-items="[
        <% if current_user %>
          {name: 'My Requests', component: 'My Requests', href: '/my_requests/'},
          <%= "{name: 'Requests to Review', component: 'Requests to Review', href: '/my_approval_requests/'}," if current_staff_profile.supervisor? %>
          {name: 'My Delegates', component: 'My Delegates', href: '/delegates/'},
          {name: 'Delegations', component: 'Delegations', href: '<%= to_assume_delegates_path %>'},
          {name: 'Logout', component: 'Logout', href: '/sign_out'}
        <% end %>
      ]"/>
    </library-header>
    <% if current_delegate %>
      <div class="lux"><alert status="success">You are acting on behalf of <%= current_delegate.delegator %></alert> </div>
    <% end %>
    <div class="main-content">
      <div class="lux">
        <wrapper :max-width=1400>
          <%= render 'shared/flash_messages' %>
        </wrapper>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
